name: CI

on: [push, pull_request]

jobs:
  build-n-publish:
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.6
      - name: Install Dependencies
        run: |
          pip install -U pip setuptools
          pip install Sphinx sphinx_rtd_theme
      - name: Install Package
        run: |
          python setup.py install
      - name: Run Tests
        run: |
          python setup.py test
      - name: Create Distribution
        run: |
          python setup.py sdist --dist-dir release_dist
      - name: Make Documentation
        run: |
          make html
      - name: Publish on PyPI
        if: startsWith(github.ref, 'refs/tags')
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
          packages_dir: release_dist/
      - name: Publish Documentation on GH-Pages
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/build
